
/***************/
/* ADD COMMENT */
/***************/

.addCommentForm {
	margin: 15px 0 20px 0;
	padding: 5px;
	width: 612px;
	clear: both;
}
.addCommentForm.js_on {
	position: relative;
}
.addCommentForm label {
	display: block;
	font-size: 14px;
	margin: 0 0 5px 6px;
}
.addCommentForm.js_on label {
	position: absolute;
	width: 600px;
	padding: 5px;
	margin: 0;
	cursor: text;
	color: #888;
	cursor: text;
	font-size: 1.2em;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	height: 120px;
	line-height: 120px;
	text-align: center;
}
.addCommentForm textarea {
	outline: none !important;
	display: block;
	width: 600px;
	height: 120px;
	padding: 5px;
	border: 1px solid #999;
	background: #fff;
	margin: 0 0 10px 0;
	border-radius: 2px;
}
.addCommentForm textarea:focus {
	border-color: #1B7FCC;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.addCommentForm input {
	border: 1px solid #999;
	color: #333;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: #f6f6f6;
	border-radius: 2px;
}
.addCommentForm input:hover {
	background-color: #E8E8E8;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.addCommentForm input[disabled=disabled] {
	border-color:#bbb !important;
	color: #888 !important;
	box-shadow: none !important;
	background: #f6f6f6 !important;
}
.maxLength {
	float: right;
	font-size: 12px;
	margin: 5px 5px 0 5px;
	color: #333;
}
.maxLength, .maxLength label {
	display: inline;
}
.maxLength.warn {
	color: #5C0002;
}
.maxLength.superwarn {
	color: #D40D12;
}

/*****************/
/* SHOW COMMENTS */
/*****************/

.moreComments {
	display: block;
	margin: 15px 0 15px 0;
	padding: 5px;
	width: 612px;
	cursor: pointer;
	border: 1px solid #999;
	color: #333;
	text-align: center;
	text-decoration: none;
	background: #f6f6f6;
	font-family: Verdana,sans-serif;
	font-size: 0.8em;
	border-radius: 2px;
}
.moreComments:hover {
	background-color: #E8E8E8;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.comment {
	border: 1px solid #CCC;
	border-width: 1px 1px 3px;
	font-family: Verdana,sans-serif;
	font-size: 0.8em;
	margin: 10px 0 0;
	padding: 5px;
	width: 612px;
	border-radius: 5px;
	clear: both;
}
.comment:hover {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	border-color: #BBB;
}
.comment .user_and_date {
	color: #2793E6;
	font-weight: bold;
	margin: 10px 10px 2px 10px;
}
.comment .user_and_date .date {
	font-weight: normal;
	float: right;
}
.comment .text {
	padding: 10px;
}

/********/
/* VOTE */
/********/

.comment .votePanel {
	margin: 6px 0 6px 8px;
    width: 598px;
}
.votePanel .like, .votePanel .dislike {
	width: 20px;
}
.votePanel .likes {
	width: 30%;
}
.votePanel .likes span {
    color: #090;
}
.votePanel .dislikes span {
    color: #900;
}
.votePanel {
	font-size: 0.95em;
    font-style: italic;
}
.voteBig .votePanel {
	width: 100%;
}
.voteBig {
	font-family: Verdana,sans-serif;
	font-size: 0.9em;
	width: 602px;
	border: 1px solid #ccc;
	border-width: 1px 1px 2px 1px;
	margin: 15px 0 0 0;
	padding: 10px;
	border-radius: 5px;
	clear: both;
}
.comment .votePanel {
	opacity:0.4;
}
.comment:hover .votePanel {
	opacity: 0.9;
}
.votePanel .like a,
.votePanel .dislike a {
	width: 16px;
	height: 16px;
	background: url("../images/thumb_up.png");
	float: right;
}
.votePanel .like a.unvote {
	background: url("../images/thumb_up_delete.png");
}
.votePanel .dislike a {
	background: url("../images/thumb_down.png");
}
.votePanel .dislike a.unvote {
	background: url("../images/thumb_down_delete.png");
}