<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="factory">
		<property name="connection.datasource">java:comp/env/jdbc/PhotoAlbum</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.User" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.Album" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.File" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.AlbumShareInformation" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.FileShareInformation" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.AlbumTag" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.FileTag" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.Comment" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.LikeAndDislike" />
		<mapping class="es.udc.fi.dc.photoalbum.model.hibernate.Voted" />
	</session-factory>
</hibernate-configuration>
